body {
	background-color: #fff;
	font-family: "Helvetica";
	margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

p {
	color: #fff;
    padding-left: 120px;
}

h1, h4 {
	color: #a0a0a0;
}

hr {
	color: #dcdcdc;
	width: 1px;
}

#descriptionID{
	color: #a0a0a0;
}

#contactID{
	background-color: #ebff00;
	color: #444848;
	font-weight: "900";
}

#project1{
	background-color: #282828;
}