body {
	background-color: #ebff00;
	font-family: "Helvetica"
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

p {
	color: #fff;
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

h1, h4 {
	color: #a0a0a0;
}

hr {
	color: #dcdcdc;
	width: 1px;
}

#descriptionID{
	color: #a0a0a0;
}