body {
    background-color: #fff;
	font-family: "Helvetica";
}


p {
	background-color: #fff;
    padding-left: 15%;
    padding-top: 50px;
}


a {
	color: #444848;
	font-weight: 900;
	font-size: 0.6em;
	text-decoration: none;
	text-transform: uppercase;
}


ul {
	list-style-type: none;
}


hr {
	color: #dcdcdc;
	width: 1px;
}


#slogan{
	color: #a0a0a0;
	font-weight: 100;
	font-size: 1.75em;
	padding-right: 300px;
	background-color: white;
}


#project1{
	background-color: #282828;
	min-height: 600px;
	width: 100%
}



.floating-box {
	display: block;
    float: left;
    width: 70px;
    height: 100%;
    background-color: #ebff00;
    position: fixed;
    padding-right: 10px;
}

.tab {
	padding-top: 20px;
	text-align: center;
}

.subnav {
	font-size: 12px;
	color: #606060;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}